<main id="inicio">

    <section class="banner">
      <h1>Seja muito bem-vindo ao<span> ClutchHub!</span></h1>
      <p>A sua plataforma para criar e participar dos maiores campeonatos.<br> Junte-se à comunidade gamer da ClutchHub.</p>

      <div class="cadastro">
        <button id="aboutButton" routerLink="/about">Como funciona?</button>
        
      </div>
      <div class="cards">
          <div class="card">
            <h3>Partidas</h3>
            <p><i class="fa-solid fa-gamepad"></i> 100</p>
          </div>
          <div class="card">
            <h3>Jogadores</h3>
            <p><i class="fa-solid fa-user"></i> 100</p>
          </div>
          <div class="card">
            <h3>Campeonatos</h3>
            <p><i class="fa-solid fa-trophy"></i> 100</p>
          </div>
    </div>
</section>
</main>